menu {
  grid-area: menu;
  background-color: white;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;

  .menu-items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    gap: 15px;
  }
}
