menu {
  grid-area: menu;
  // background-color: #a8dadc;
  margin: 10px;
  border-radius: 10px;

  .logo {
    width: 90%;
    margin-top: 15px;
  }

  .menu-items {
    margin-top: 50px;

    display: flex;
    flex-direction: column;

    gap: 15px;
  }
}
