.breadcrumb {
  list-style: none;

  display: flex;
  align-items: center;

  padding: 10px 16px;
  // color: #1d3557;

  li + li::before {
    padding: 4px;
    content: "/\00a0";
  }

  li {
    a {
      transition: 0.5s ease;
      color: black;
      &:hover {
        color: #e63946;
      }
    }
  }
}
