header {
  background-color: #a8dadc;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;

  .header-icons {
    display: flex;
    gap: 10px;
    margin-right: 20px;

    .icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
