header {
  // background-color: #a8dadc;
  // box-shadow: 2px 2px 7px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;

  .header-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;

    .icon {
      color: #1d3557;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        color: #e63946;
      }
    }

    .user-icon {
      position: relative;
      color: #1d3557;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        color: #e63946;
      }
    }
  }
}
